.skills{
  background: linear-gradient(180deg, #0c0c1d, #111132);
  overflow: hidden;
  height: calc(100vh - 100px);

  img{
    height: 110px;
    padding: 30px;
    margin-left: 50px;
    
  }

  .grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 50px;
    row-gap: 30px;
   
  }

  .box{
    background-color: transparent;
    height: 90px;
    gap: 50px;
    margin-top: 160px;
    display: flex;
    flex: 2;
  }
}